.fixed-sidebar {
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: auto;
    padding-right: 15px;
    width: 250px; /* Set a fixed width for the sidebar */
}

.fixed-sidebar .navs {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align buttons */

}

.fixed-sidebar .navs button {
    width: 1.5in; /* Ensure each button takes full width */
    margin-bottom: 16px; /* Set the gap between buttons to 16px */
    padding: 10px; /* Add padding for better appearance */
    border-radius: 4px;
    background-color: #afafaf;
    color: #ffffff;
    border: none;
    text-align: center;
}

.fixed-sidebar .navs button.currentyearlvl {
    background-color: #80AF81 !important;
}
.scrollable-content {
    max-height: 100vh; /* Adjust as needed */
    overflow-y: auto;
}



.button{
    background-color: none;
    border: none;
}
.form-select{
    border-radius: 14px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 32px;
}



.form-control{
    border-radius:  16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 32px;
}
button.cancel{
    background-color: #aa0202;
    border: none;
    color: #ffffff;
}
button.confirm{
    background-color: #119e0e;
    border: none;
}
.modal-footer button{
    width: 90px;
    border-radius: 14px;
    padding: 3px;
}
