
.nav_links{
    background-color:#80AF81;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    text-decoration: none;
    color: black;
}
.curriculum-sched{
    width: 60%;
}

button{
    border: none;
    background: none;
}
.form-control{
    border-radius: 12px;
}
.form-select{
    border-radius: 12px;

}
