
.nav_links{
    background-color:#80AF81;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    text-decoration: none;
    color: black;
}
.curriculum-sched{
    width: 60%;
    margin: 0 auto;
    background-color: #E4EFE7;
    padding: 18px;
    border-radius: 16px;
}
