
/*---shed-table---*/

.sched-container{
    background-color: #E4EFE7;
    padding: 24PX;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.text h2{
    font-weight: bolder;
    color: #1A5319;
}

.table th, .table td {
    vertical-align: middle;
}
.sched-table{
    background-color: #ffff;
    padding: 10px;
    border-radius: 12px;
}

#tabularView{
    font-size: 12px;
}
#viewToggleButton{
    font-size: 13px;
    padding: 6px;
    border-radius: 12px;
    border: none;
    background-color: #ffff;
}

.toogle select{
    border-radius: 16px;
    padding: 4px;
}

.generate button{
    background-color: #80AF81;
    border: none;
    padding: 6px;
    border-radius: 16px;
    width: 140px;
    height: 40px;
}


/*---- tabel header---*/

.form-select{
    border-radius: 14px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.searchbar .form-control{
    height: 33px;
    border-radius: 14px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.button {
    gap:14px;
    border-radius: 14px;
}
.button button{
    border-radius: 14px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.confirm{
    background-color: #80AF81;
    border: none;
    color: #ffffff;
    width: 120px;
}
#assign{
    width: 100px;
}
.header-table button{
    background: none;
    border:none
}
.header-table button :hover{
    border: 1px solid #1A5319;
    border-radius: 15px;
}
