
.sched-container {
    background-color: #E4EFE7;
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.text h2 {
    font-weight: bolder;
    color: #1A5319;
}

.table th,
.table td {
    vertical-align: middle;
}

.sched-table {
    background-color: #ffff;
    padding: 10px;
    border-radius: 12px;
}

#tabularView {
    font-size: unset;
}

#viewToggleButton {
    font-size: 13px;
    padding: 6px;
    border-radius: 12px;
    border: none;
    background-color: #ffff;
}

.toogle select {
    border-radius: 16px;
    padding: 4px;
}

.generate button {
    background-color: #80AF81;
    border: none;
    padding: 6px;
    border-radius: 16px;
    width: 140px;
    height: 40px;
}

/*---- tabel header---*/

.form-select {
    border-radius: 14px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.searchbar .form-control {
    height: 33px;
    border-radius: 14px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.button {
    gap: 14px;
    border-radius: 14px;
}

.button button {
    border-radius: 14px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.confirm {
    background-color: #80AF81;
    border: none;
    color: #ffffff;
    width: 120px;
}

#assign {
    width: 100px;
}

.header-table button {
    background: none;
    border: none;
}



table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

th,
td {
    padding: 0px !important;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

td {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    height: 30px;
    position: relative;
}

.occupiedmiddle {
    border-top: none !important;
    border-bottom: none !important;
    border-left: 1px solid black !important;
    border-right: 1px solid black !important;
    position: relative;
    font-weight: 500;
}

.occupiedfirst {
    border: none;
    border-top: 1px solid black !important;
    border-left: 1px solid black !important;
    border-right: 1px solid black !important;
    position: relative;
}

.occupiedlast {
    border: none;
    border-right: 1px solid black !important;
    border-left: 1px solid black !important;
    border-bottom: 1px solid black !important;
    position: relative;
}

.occupied::before {
    content: attr(data-subject);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2px 5px;
    border-radius: 3px;
    z-index: 1;
    color: #000;
    white-space: nowrap;
}

.containersched {
    min-width: 95% !important;
}

@media screen and (max-width: 576px) {
    .table-responsive {
        overflow-x: auto;
        white-space: none;
    }

    .table-responsive table {
        width: auto;
        min-width: 100%;
    }

    .table-responsive th,
    .table-responsive td {
        min-width: 80px;
    }
}
