*{
    font-family: 'Poppins', sans-serif;

}
.landing{
    background-color: #064420;
}
.carousel{
    background-color: #ffff;
    margin:20px;
    height: 95%;
    border-radius: 10px 10px 60px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 26px;
    min-height: 100vh;
    color: #ffff;

}
.container button{
    width: 300px;
    padding: 6px 10px;
    border: none;
    border-radius: 15px;
    display: flex;
    gap: 90px;


}
.admin-login{
    margin-top: 70px;
}

/*modal area */

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

form h2 {
    color: #000000;
    margin-left: 12px;
}

form {
    position: relative;
    margin: 50px auto;
    width: 380px;
    height: 100%;
}

input {
    padding: 16px;
    border-radius: 7px;
    border: 0px;
    background: rgba(122, 145, 23, 0.2);
    display: block;
    margin: 15px;
    width: 300px;
    color: #000000;
    font-size: 18px;
    height: 54px;
}

input:focus {
    outline-color: rgba(0, 0, 0, 0);
    background: #80AF81;
    color: #000000;
}

button.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    height: 135px;
    width: 50px;
    border: 0px;
    background: #06442075;
    border-radius: 7px;
    color: rgb(0, 0, 0);
    font-size: 22px;
}

.inputUserIcon {
    position: absolute;
    top: 68px;
    right: 80px;
    color: rgb(10, 10, 10);
}

.inputPassIcon {
    position: absolute;
    top: 136px;
    right: 80px;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

input::-webkit-input-placeholder {
    color: rgb(3, 3, 3);
}

input:focus::-webkit-input-placeholder {
    color: #0c0c0c;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px); /* Added backdrop-filter for blur effect */
}

.modal-content {
    background-color: #ffffff;
    margin: 9% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    max-height: 80vh;
    overflow-y: auto;
    border-radius: 16px;
}

.close {
    color: #000000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #064420;
    text-decoration: none;
    cursor: pointer;
}
