*{
    font-family: 'Poppins', sans-serif;

}
.landing {
    --scale: 1em;
    background-color: #000;
    background-image: radial-gradient(circle at 0 5%, #265432, #227c49 12%, #1a9e4c 25%, #006a30 39%, #005f26 50%, #005f26 50%, #007b3f 60%, #00430d 76%, #00430d 91%, #000);
    background-repeat: no-repeat;
    position: relative;
}

.carousel{


    margin:20px;
    height: 95%;
    border-radius: 10px 10px 60px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 26px;
    min-height: 100vh;
    color: #ffff;

}
.login {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 70%;
    background: rgba(255, 255, 255, 0.14);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.5px);
    -webkit-backdrop-filter: blur(10.5px);
    border: 1px solid rgba(206, 206, 206, 0.48);
}
.container button{
    width: 300px;
    padding: 6px 10px;
    border: none;
    border-radius: 15px;
    display: flex;
    gap: 90px;


}


.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;

}

.form-group input {
    width: 100%;
    padding: 8px ; /* Adjust padding to only top and bottom */
    border: none; /* Remove default border */
    border-radius: 5px;
    border-bottom: 1px solid #ccc; /* Add bottom border */
    background-color: transparent; /* Make background transparent */
    outline: none; /* Remove outline on focus */
}


.form-control::placeholder{
    color: #ffffff80;
}

button{
    background-color: #9EDF9C;
}
.submit:hover {
    background-color: #0056b3;
}

.text-danger {
    color: red;
    margin-top: 10px;
    text-align: center;
}
.responsive-img {
    max-width: 100%;
    height: auto;
}

/* Default styles for larger screens */
.responsive-img {
    max-width: 100%;
    height: auto;
}

/* Media query for screens smaller than 768px (typical mobile devices) */
@media (max-width: 768px) {
    *{
        font-size: 12px;
    }
    .login{

        width: 95%;
    }
    .responsive-img {
        width: 100%; /* Adjust the width as needed */
        margin: 0 auto; /* Center the image */
    }

    .carousel {
        text-align: center; /* Center the carousel content */
    }

    .modal-content {
        width: 90%; /* Adjust the width as needed */
    }
    #login-form {
        margin-top: 32px;
        background: none;
        border-radius: 0;
        box-shadow: none;
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
        border: none;
    }
}

/* Media query for screens smaller than 576px (very small mobile devices) */
@media (max-width: 576px) {
    *{
        font-size: 12px;

    }
    .carousel{
       margin-top: 16px;
    }
    .responsive-img {
        width: 40%; /* Adjust the width as needed */
    }

    .modal-content {
        width: 95%; /* Adjust the width as needed */
    }
    .container{
        display: flex;
        justify-content: flex-start;
        margin-top: 0px;

    }
    .login{
        background-image: none;
        background: none;
        padding: 0px;
        justify-content: flex-start;
        border: none;
        background: none;
        border-radius: 0;
        box-shadow: none;
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
        border: none;
    }

    #loginForm {
        margin-top: 43px;
    }


}
