
.header-text{
    margin-right: 15px;
    text-align: end;
    margin-bottom: 0 ;
}

.header-text h5{
    color: #1A5319;
    font-weight:500;
}
span{
    padding: 0;
    margin: 0;
}

.text{
    margin-bottom: 30px;
    gap: 20px;
}
.text span{
    font-size: 24px;
    font-weight: 500;
    color: #ADBC9F;
}
.text h2{
    font-weight: 700;
    color: #1A5319;
}
.form-select{
    border-radius: 14px;
}

/*-----generate area---*/

.modal-body .form-select{
    border-radius: 14px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 12px;
}



/*-----modal----*/

.modal-body .form-select{
    border-radius: 14px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 12px;
}

.curriculum-sched{
    width: 50%;
    background-color: #E4EFE7;
    padding: 18px;
    border-radius: 16px;
}

.modal-content{
    background-color: #d8e4db;
    border-radius: 24px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-group{
    gap: 16px;
    margin: 16px 12px;
}

.g-3{
    margin: 5px;
}

.form-label{
    width: 30%;
}
.form-control{
    border-radius:  16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal{
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
}
.head-label{
    color: #1A5319;
}


.modal-footer button{
    width: 90px;
    border-radius: 14px;
    padding: 3px;
}

h5{
    font-weight: 600;
    font-size: 16px;
    margin: 18px 0;
}
.cancel{
    background-color: #aa0202;
    border: none;
    color: #ffffff;
}
.confirm{
    background-color: #119e0e;
    border: none;
    color: #ffffff;
}

