
.form-select{
    border-radius: 14px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 32px;
}
.curriculum-sched{
    width: 60%;
    margin: 0 auto;
    background-color: #E4EFE7;
    padding: 18px;
    border-radius: 16px;
}

button{
    border: none;
    background: none;
}

/*-----modal----*/


.modal-body .form-select{
    border-radius: 14px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 32px;
}



.form-control{
    border-radius:  16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 32px;
}


.modal{
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px); /* Added backdrop-filter for blur effect */
}
.head-label{
    color: #1A5319;
}


.modal-footer button{
    width: 90px;
    border-radius: 14px;
    padding: 3px;
}

h5{
    font-weight: 600;
    font-size: 16px;
}
button.cancel{
    background-color: #aa0202;
    border: none;
    color: #ffffff;
}
button.confirm{
    background-color: #119e0e;
    border: none;
    color: #ffffff;
}


/*---shed-table---*/


.text h2{
    font-weight: bolder;
    color: #1A5319;
}

.table th, .table td {
    vertical-align: middle;
}
.sched-table{
    background-color: #E4EFE7;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#tabularView{
    font-size: 12px;
}
#viewToggleButton{
    font-size: 13px;
    padding: 6px;
    border-radius: 12px;
    border: none;
    background-color: #ffff;
}

.toogle select{
    border-radius: 16px;
    padding: 4px;
}

.generate button{
    background-color: #80AF81;
    border: none;
    padding: 6px;
    border-radius: 16px;
    width: 140px;
    height: 40px;
}


/*---- table header---*/


.searchbar .form-control{
    height: 33px;
    border-radius: 14px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.button {
    gap:14px;
    border-radius: 14px;
}
.button button{
    border-radius: 14px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.confirm{
    background-color: #80AF81;
    border: none;
    color: #ffffff;
    width: 120px;
}
#assign{
    width: 100px;
}
.header-table button{
    background: none;
    border:none
}
.header-table button :hover{
    border: 1px solid #1A5319;
    border-radius: 15px;
}


.btn-dots {
    border: none;
    background: none;
    padding: 0;
    width: 24px; /* Adjust as needed */
    height: 24px; /* Adjust as needed */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dropdown-menu-end {
    right: 0;
    left: auto;
    width: auto;
}
.custom-icon-size {
    font-size: 40px; /* Adjust the size as needed */
    color: #1A5319;
    border: none;
    background-color: none;
}
.custom-icon-size :hover{
   border: none;
}
.add-faculty button{
    border: none;
    background-color: none;
}
.nav_links{
    background-color:#80AF81;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    text-decoration: none;
    color: black;
}
.mt-3 .form-check-input{
    margin-right: 12px;
}
